body {
  margin: 0;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --mono-1: #fafafa;
  --mono-2: #eaeaea;
  --mono-3: #999;
  --mono-4: #888;
  --mono-5: #666;
  --mono-6: #444;
  --mono-7: #333;
  --mono-8: #111;
  --darkbg: #191919;
  --red: #D34848;
  --yellow: #FFB33F;
  --skyblue: #1FE1E9;
  --blue: #06c;
  --purple: #5E33D1;
}

@font-face{
  font-family: "HelveticaNeue Bold";
  src: url('./assets/fonts/HelveticaNeue-Bold.ttf'),
}

@font-face{
  font-family: "Helvetica Neue";
  src: url('./assets/fonts/HelveticaNeue.ttf'),
}
